body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #632e2e;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    font-size: 36px;
  }
  
  .center p {
    margin-bottom: 20px;
  }
  
  #startButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .image-container {
    flex: 1;
    text-align: right;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .faq body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .faq header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .faq main {
    padding: 20px;
  }
  
  .faq section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .faq h2 {
    color: #333;
  }
  
  .faq footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
   body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

